.holdHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.detailScroll {
  overflow-y: scroll;
  box-shadow: rgba(108, 126, 147, 0.1) 0px 2px 15px;
  background: rgb(253, 253, 253);
  border-radius: 6px;
  padding: 15px;
  height: 80vh !important;
}
.holdUserForm {
  box-shadow: rgba(108, 126, 147, 0.1) 0px 2px 15px;
  background: rgb(253, 253, 253);
  border-radius: 6px;
  padding: 15px;
  height: auto;

  .holdLay2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;

    .holdOne {
      width: 70%;
      overflow: hidden;
    }
  }
}
